.navbar-fixed-top {
  background-color: #3882bd;
  border-color: #68a6d8;
}
.navbar-fixed-top .navbar-brand {
  color: #ffffff;
}
.navbar-fixed-top .navbar-brand:hover,
.navbar-fixed-top .navbar-brand:focus {
  color: #ffffff;
}
.navbar-fixed-top .navbar-text {
  color: #ffffff;
}
.navbar-fixed-top .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-fixed-top .navbar-nav > li > a:hover,
.navbar-fixed-top .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-fixed-top .navbar-nav > .active > a,
.navbar-fixed-top .navbar-nav > .active > a:hover,
.navbar-fixed-top .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #68a6d8;
}
.navbar-fixed-top .navbar-nav > .open > a,
.navbar-fixed-top .navbar-nav > .open > a:hover,
.navbar-fixed-top .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #68a6d8;
}
.navbar-fixed-top .navbar-toggle {
  border-color: #68a6d8;
}
.navbar-fixed-top .navbar-toggle:hover,
.navbar-fixed-top .navbar-toggle:focus {
  background-color: #68a6d8;
}
.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-top .navbar-form {
  border-color: #ffffff;
}
.navbar-fixed-top .navbar-link {
  color: #ffffff;
}
.navbar-fixed-top .navbar-link:hover {
  color: #ffffff;
}
.jumbotron{
  margin-top: 50px;
}

.fondo-img {
  background-image: url("../img/background.jpg");
  background-size: cover;
}
.fondo-img p {
  color: white;
  font-size: 15px;
  background: rgba(56, 130, 189, .8);
}


.fondo-img > h2, .fondo-img > h3 {
  color: white;
  background: rgba(56, 130, 189, .7);
}


.navbar-fixed-top .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFFFF;
    color: #3882bd;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #3882BD;
}

.galeria {
    padding-bottom: 15px;
}

@media (max-width: 767px) {
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #68a6d8;
  }
}